Repository kyn07c0/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

Edit path to backend chart
  backend/.gitlab-ci.yml
Due: backend

Edit backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Edit frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  helm/frontend-chart/Chart.yaml
  helm/frontend-chart/templates/acme-issuer.yaml
  helm/frontend-chart/templates/configmap.yaml
  helm/frontend-chart/templates/deployment.yaml
  helm/frontend-chart/templates/ingress.yaml
  helm/frontend-chart/templates/secrets.yaml
  helm/frontend-chart/templates/service.yaml
  helm/frontend-chart/values.yaml
Due: frontend

Edit frontend/.gitlab-ci.yml
  helm/frontend-chart/templates/secrets.yaml
Due: none

Fix container image
  helm/frontend-chart/templates/deployment.yaml
Due: none

Delete helm/frontend-chart/templates/secrets.yaml
  helm/frontend-chart/templates/secrets.yaml
Due: none

delete string secret
  frontend/.gitlab-ci.yml
Due: frontend

Delete folder kubernetes/momo-store-chart
  kubernetes/momo-store-chart/Chart.yaml
  kubernetes/momo-store-chart/charts/backend/Chart.yaml
  kubernetes/momo-store-chart/charts/backend/templates/deployment.yaml
  kubernetes/momo-store-chart/charts/backend/templates/service.yaml
  kubernetes/momo-store-chart/charts/backend/values.yaml
  kubernetes/momo-store-chart/charts/frontend/Chart.yaml
  kubernetes/momo-store-chart/charts/frontend/templates/configmap.yaml
  kubernetes/momo-store-chart/charts/frontend/templates/deployment.yaml
  kubernetes/momo-store-chart/charts/frontend/templates/service.yaml
  kubernetes/momo-store-chart/charts/frontend/values.yaml
  kubernetes/momo-store-chart/templates/acme-issuer.yaml
  kubernetes/momo-store-chart/templates/ingress.yaml
  kubernetes/momo-store-chart/templates/secrets.yaml
  kubernetes/momo-store-chart/values.yaml
Due: none

Delete frontend --atomic
  frontend/.gitlab-ci.yml
Due: frontend

Add chmod go-r ~/.kube/config to backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  helm/alertmanager/.helmignore
  helm/alertmanager/Chart.yaml
  helm/alertmanager/templates/_helpers.tpl
  helm/alertmanager/templates/configmap.yaml
  helm/alertmanager/templates/deployment.yaml
  helm/alertmanager/templates/ingress.yaml
  helm/alertmanager/templates/services.yaml
  helm/alertmanager/values.yaml
  helm/grafana/.helmignore
  helm/grafana/Chart.yaml
  helm/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  helm/grafana/templates/_helpers.tpl
  helm/grafana/templates/deployment.yaml
  helm/grafana/templates/ingress.yaml
  helm/grafana/templates/pvc.yaml
  helm/grafana/templates/services.yaml
  helm/grafana/values.yaml
  helm/prometheus/.dockerignore
  helm/prometheus/.helmignore
  helm/prometheus/Chart.yaml
  helm/prometheus/Roles.yaml
  helm/prometheus/prom-app-example.yaml
  helm/prometheus/rules/momo-store.yaml
  helm/prometheus/templates/configmap.yaml
  helm/prometheus/templates/deployment.yaml
  helm/prometheus/templates/ingress.yaml
  helm/prometheus/templates/rules.yaml
  helm/prometheus/templates/services.yaml
  helm/prometheus/values.yaml
Due: backend

Add chmod go-r ~/.kube/config to frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Delete string template: Security/SAST.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Delete string template: Security/SAST.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Add static
  helm/frontend-chart/templates/configmap.yaml
  helm/prometheus/templates/deployment.yaml
Due: none

Add static
  helm/frontend-chart/templates/configmap.yaml
Due: none

Add image to s3
  backend/cmd/api/dependencies/store.go
Due: backend

Add image to s3
  backend/cmd/api/dependencies/store.go
  terraform/storage.tf
Due: backend

Delete image to s3
  terraform/storage.tf
Due: none

Delete image to s3
  backend/cmd/api/dependencies/store.go
  terraform/main.tf
Due: backend

Delete image to s3
  backend/cmd/api/dependencies/store.go
Due: backend

Add images to s3
  backend/cmd/api/dependencies/store.go
  terraform/main.tf
Due: backend

fix build backend Dockerfile
  backend/Dockerfile
Due: backend

fix build backend Dockerfile
  backend/cmd/api/dependencies/store.go
Due: backend

Delete images to s3
  backend/cmd/api/dependencies/store.go
  terraform/main.tf
Due: backend

Delete images to s3
  backend/cmd/api/dependencies/store.go
Due: backend

fix backend/cmd/api/dependencies/store.g
  backend/cmd/api/dependencies/store.go
Due: backend

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
