Repository kyn07c0/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

stages:
  - module-pipelines
  - deploy

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

#deploy:
#  stage: deploy
#  trigger:
#    include:
#      - "/kubernetes/.gitlab-ci.yml"
#    strategy: depend
#  only:
#    changes:
#      - kubernetes/**/*

Add image to s3
  backend/cmd/api/dependencies/store.go
  terraform/main.tf
Due: backend

Change URL image to s3
  backend/cmd/api/dependencies/store.go
Due: backend

Change URL image to s3
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
Due: backend

Add project description
  README.md
Due: none

Add backend Dockerfile
  backend/Dockerfile
Due: backend

Add frontend Dockerfile
  frontend/Dockerfile
Due: frontend

Add backend CI/CD
  backend/.gitlab-ci.yml
Due: backend

Add backend CI/CD
  backend/cmd/api/app/app_test.go
Due: backend

Add frontend CI/CD
  frontend/.gitlab-ci.yml
Due: frontend

Add backend CI/CD
  backend/.gitlab-ci.yml
  helm/backend/.gitlab-ci.yml
  helm/backend/Chart.yaml
  helm/backend/templates/deployment.yaml
  helm/backend/templates/secrets.yaml
  helm/backend/templates/service.yaml
  helm/backend/values.yaml
  helm/frontend/Chart.yaml
  helm/frontend/templates/acme-issuer.yaml
  helm/frontend/templates/configmap.yaml
  helm/frontend/templates/deployment.yaml
  helm/frontend/templates/ingress.yaml
  helm/frontend/templates/service.yaml
  helm/frontend/values.yaml
Due: backend

Add prometheus
  helm/prometheus/.gitlab-ci.yml
  helm/prometheus/Chart.yaml
  helm/prometheus/Roles.yaml
  helm/prometheus/templates/clusterrolebinding.yaml
  helm/prometheus/templates/configmap.yaml
  helm/prometheus/templates/deployment.yaml
  helm/prometheus/templates/ingress.yaml
Due: none

Add prometheus
  .gitlab-ci.yml
  helm/prometheus/values.yaml
Due: none

Add prometheus
  helm/prometheus/.gitlab-ci.yml
Due: none

Add prometheus
  helm/prometheus/templates/ingress.yaml
Due: none

Add prometheus
  helm/prometheus/values.yaml
Due: none

Edit terraform main.tf
  terraform/main.tf
Due: none

Add grafana
  .gitlab-ci.yml
  helm/grafana/.gitlab-ci.yml
  helm/grafana/Chart.yaml
  helm/grafana/templates/deployment.yaml
  helm/grafana/templates/ingress.yaml
Due: none

Add grafana
  helm/grafana/.helmignore
  helm/prometheus/.gitlab-ci.yml
  helm/prometheus/Chart.yaml
Due: none

Change namespace value from default to {{ .Release.Namespace }}
  helm/backend/templates/deployment.yaml
  helm/backend/templates/secrets.yaml
  helm/backend/templates/service.yaml
  helm/prometheus/Chart.yaml
  helm/prometheus/Roles.yaml
  terraform/main.tf
Due: none

Change namespace value from default to {{ .Release.Namespace }}
  helm/frontend/templates/acme-issuer.yaml
  helm/frontend/templates/configmap.yaml
  helm/frontend/templates/deployment.yaml
  helm/frontend/templates/ingress.yaml
  helm/frontend/templates/service.yaml
Due: none

Add description
  helm/prometheus/Chart.yaml
Due: none

Add description
  helm/grafana/Chart.yaml
Due: none

Add metrics
  helm/frontend/templates/deployment.yaml
Due: none
