Repository kyn07c0/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

Edit frontend/Dockerfile
  frontend/Dockerfile
  kubernetes/frontend/acme-issuer.yaml.rm
  kubernetes/frontend/ingress.yaml
  kubernetes/frontend/service.yaml
Due: frontend

Edit frontend/Dockerfile
  frontend/nginx-momo.conf
Due: frontend

Edit backend/Dockerfile
  backend/Dockerfile
Due: backend

Replace namespace default to momo-store
  kubernetes/backend/deployment.yaml
  kubernetes/backend/secrets.yaml
  kubernetes/backend/service.yaml
  kubernetes/frontend/configmap.yaml
  kubernetes/frontend/deployment.yaml
  kubernetes/frontend/ingress.yaml
  kubernetes/frontend/secrets.yaml
  kubernetes/frontend/service.yaml
Due: none

ARG VUE_APP_API_URL=свой домен
  frontend/Dockerfile
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/deployment.yaml
Due: frontend

Edit backend/Dockerfile
  backend/Dockerfile
  kubernetes/backend/deployment.yaml
  kubernetes/backend/secrets.yaml
  kubernetes/backend/service.yaml
  kubernetes/frontend/acme-issuer.yaml
  kubernetes/frontend/configmap.yaml
  kubernetes/frontend/deployment.yaml
  kubernetes/frontend/ingress.yaml
  kubernetes/frontend/secrets.yaml
  kubernetes/frontend/service.yaml
Due: backend

Add deploy frontend
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx-momo.conf
  kubernetes/frontend/configmap.yaml
  terraform/.gitignore
  terraform/.gitlab-ci.yml
  terraform/backend.tf
  terraform/images/1.jpg
  terraform/images/10.jpg
  terraform/images/11.jpg
  terraform/images/12.jpg
  terraform/images/13.jpg
  terraform/images/14.jpg
  terraform/images/2.jpg
  terraform/images/3.jpg
  terraform/images/4.jpg
  terraform/images/5.jpg
  terraform/images/6.jpg
  terraform/images/7.jpg
  terraform/images/8.jpg
  terraform/images/9.jpg
  terraform/kubernetes/backend.tf
  terraform/kubernetes/main.tf
  terraform/kubernetes/outputs.tf
  terraform/kubernetes/provider.tf
  terraform/kubernetes/terraform.tfvars
  terraform/kubernetes/variables.tf
  terraform/kubernetes/versions.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/s3/main.tf
  terraform/s3/outputs.tf
  terraform/s3/provider.tf
  terraform/s3/terraform.tfstate
  terraform/s3/terraform.tfvars
  terraform/s3/variables.tf
  terraform/s3/versions.tf
  terraform/storage.tf
  terraform/variables.tf
Due: frontend

Add deploy frontend
  kubernetes/frontend/deployment.yaml
Due: none

Add deploy frontend
  frontend/.gitlab-ci.yml
  kubernetes/frontend/deployment.yaml
Due: frontend

Change namespace kubernetes/frontend to default
  kubernetes/frontend/acme-issuer.yaml
  kubernetes/frontend/configmap.yaml
  kubernetes/frontend/deployment.yaml
  kubernetes/frontend/ingress.yaml
  kubernetes/frontend/secrets.yaml
  kubernetes/frontend/service.yaml
Due: none

Add deploy frontend
  frontend/.gitlab-ci.yml
Due: frontend

Edit frontend Dockerfile
  frontend/Dockerfile
Due: frontend

Edit backend Dockerfile
  backend/Dockerfile
  kubernetes/frontend/deployment.yaml
Due: backend

Edit backend Dockerfile
  backend/Dockerfile
Due: backend

Edit backend Dockerfile
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Edit backend Dockerfile
  backend/.gitlab-ci.yml
Due: backend

Edit backend Dockerfile
  kubernetes/backend/deployment.yaml
  kubernetes/backend/secrets.yaml
  kubernetes/backend/service.yaml
Due: none

Edit backend/Dockerfile
  backend/Dockerfile
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/.configmap.yaml.swp
Due: backend

Edit backend/Dockerfile
  backend/Dockerfile
  kubernetes/frontend/.configmap.yaml.swp
Due: backend

Edit backend/Dockerfile
  backend/Dockerfile
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/ingress.yaml
Due: backend

Copy images to bucket
  backend/cmd/api/dependencies/store.go
Due: backend

Save images to bucket
  backend/cmd/api/app/app_test.go
Due: backend

Save images to bucket
  backend/cmd/api/dependencies/store.go
  terraform/main.tf
Due: backend

Test origin frontend
  frontend/src/App.vue
  frontend/src/components/cart/CartTable.vue
  frontend/src/components/catalog/CartCardRow.vue
  frontend/src/components/navbar/CartIcon.vue
  frontend/src/components/navbar/Navbar.vue
  frontend/src/components/profile/ChangePassword.vue
  frontend/src/views/Login.vue
  frontend/src/views/Profile.vue
  terraform/storage.tf
Due: frontend

Disable sonarcube
  frontend/.gitlab-ci.yml
Due: frontend

Enable sonarcube
  frontend/src/App.vue
  frontend/src/components/cart/CartTable.vue
  frontend/src/components/catalog/CartCardRow.vue
  frontend/src/components/navbar/CartIcon.vue
  frontend/src/components/navbar/Navbar.vue
  frontend/src/components/profile/ChangePassword.vue
  frontend/src/views/Login.vue
  frontend/src/views/Profile.vue
Due: frontend

Enable sonarcube
  frontend/.gitlab-ci.yml
Due: frontend

Edit README.md
  README.md
  terraform/backend.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/storage.tf
  terraform/variables.tf
Due: none

Add helm backend
  backend/.gitlab-ci.yml
  helm/backend-chart/.gitlab-ci.yml
  helm/backend-chart/Chart.yaml
  helm/backend-chart/templates/deployment.yaml
  helm/backend-chart/templates/secrets.yaml
  helm/backend-chart/templates/service.yaml
  helm/backend-chart/values.yaml
  kubernetes/momo-store-chart/Chart.yaml
Due: backend

Edit path to backend chart
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
