Repository kyn07c0/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, prometheus, grafana, loki, promtail

.gitlab-ci.yml:

stages:
  - module-pipelines

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

prometheus:
  stage: module-pipelines
  trigger:
    include:
      - "/helm/prometheus/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  
      - helm/prometheus/**/*

grafana:
  stage: module-pipelines
  trigger:
    include:
      - "/helm/grafana/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  
      - helm/grafana/**/*

loki:
  stage: module-pipelines
  trigger:
    include:
      - "/helm/loki/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - helm/loki/**/*

promtail:
  stage: module-pipelines
  trigger:
    include:
      - "/helm/promtail/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - helm/promtail/**/*

Edit root .gitlab-ci.yml
  .gitlab-ci.yml
  helm/prometheus/Chart.yaml
  helm/prometheus/rules/momo-store.yaml
  helm/prometheus/templates/configmap.yaml
  helm/prometheus/values.yaml
Due: prometheus

Edit README.md
  .gitlab-ci.yml
  README.md
  helm/prometheus/templates/clusterrolebinding.yaml
Due: prometheus

Edit README.md
  README.md
Due: none

Edit README.md
  README.md
  helm/grafana/Chart.yaml
Due: grafana

Delete files
  helm/grafana/.gitlab-ci.yml
  helm/prometheus/.dockerignore
  helm/prometheus/.gitlab-ci.yml
  helm/prometheus/.helmignore
Due: prometheus, grafana

Edit helm chart
  helm/grafana/templates/_helpers.tpl
  helm/grafana/templates/deployment.yaml
  helm/grafana/templates/ingress.yaml
  helm/grafana/templates/services.yaml
  helm/grafana/values.yaml
  helm/prometheus/Chart.yaml
Due: prometheus, grafana

Edit helm chart
  helm/prometheus/templates/configmap.yaml
  helm/prometheus/templates/deployment.yaml
  helm/prometheus/templates/ingress.yaml
  helm/prometheus/templates/rules.yaml
  helm/prometheus/templates/services.yaml
  helm/prometheus/values.yaml
Due: prometheus

Edit helm chart
  .gitignore
Due: none

Add base64 kube_config
  backend/.gitlab-ci.yml
Due: backend

Add base64 kube_config
  frontend/.gitlab-ci.yml
Due: frontend

Update terraform.tfvars
  terraform/terraform.tfvars
Due: none

Update backend.tf
  terraform/backend.tf
Due: none

Removed link to the example work
  README.md
Due: none
